*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --primary-color: #2a2a2a;
    --secondary-color: #439c47;
    --white: white;
    --black: black;
    --grey: #ccc;
    --transition: all .5s;
}

body {
    font-family: 'Crimson Text', serif;
    font-size: 17px;
    color: var(--primary-color);
    background-color: var(--white);
    margin: 10px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: var(--transition);

    &:hover,
    &:visited,
    &:focus {
        color: var(--primary-color);
    }
}

p {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: justify;
    text-justify: inter-word;
}





/**************************************
    Scrool Bar 
**************************************/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--grey);
}
::-webkit-scrollbar-thumb {
	background: var(--black);
	
	&:hover {
		background: var(--secondary-color);
	}
}





/***************************************************
    Create A Dark/Light Mode Switch with CSS Variables
    Source: https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8
***************************************************/
[data-theme="dark"] {
    --primary-color: white;
    --secondary-color: #439c47;
    --white: #2a2a2a;

    .button a:hover,
    .button a:focus,
    .button a:active {
        color: var(--white);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--black);
        
        &:hover {
            background: var(--secondary-color);
        }
    }
}

// Toggle switch styling
.dark-mode-container {
    display: flex;
    position: relative;
    align-items: center;

    .dark-mode-switch {
        display: inline-block;
        height: 35px;
        position: initial;
        width: 60px;
        max-width: 60px;
        
        input {
            display: none;
        }

        input:checked+.switch-knob-background {
            background-color: #439c47;
            
            &:before {
                transform: translateX(25px);
            }
        }
    }
}

.switch-knob-background {
    background-color: var(--grey);
    bottom: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    transition: var(--transition);

    width: 60px;
    
    &:before {
        background-color: var(--white);
        bottom: 5px;
        content: "";
        height: 25px;
        left: 5px;
        position: absolute;
        transition: var(--transition);
        width: 25px;
    }

    &.switch-knob {
        border-radius: 35px;
        
        &:before {
            border-radius: 50%;
        }
    }
}





/**************************************
    Header of Paper
**************************************/
header {
    
    h1.news-paper-title {
        margin: 0;
        text-align: center;

        a {
            display: inline-block;
            color: var(--primary-color);
            cursor: pointer;
            // Magic Number - fit text on container width. You can view the article/tutorail below, 
            // https://css-tricks.com/fitting-text-to-a-container/#article-header-id-0
            font-size: 9vw;
            font-family: 'Playfair Display', serif;
            font-weight: 600;
            text-transform: uppercase;
            transition: var(--transition);
        
            &:hover {
                color: var(--secondary-color);
            }
        }
    }
    
    .news-paper-tagline {
        border-bottom: 1px solid var(--primary-color);
        border-top: 1px solid var(--primary-color);
        margin: 0 0 20px 0;
        padding: 10px 0;

        p {
            margin: 0;
            text-align: center;
        }
    }
}

@media screen and (max-width: 900px) {
    header {
        .news-paper-tagline {
            margin: 20px 0;
            padding: 10px 0; 
        }

        h1.news-paper-title {
            a {
                font-size: 9vw;
            }
        }
    }
}





/**************************************
    Content Area of Newspaper
**************************************/
.headline {
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    display: block;
    margin: 0 auto;
    
    h2.title {
        font-weight: 400;
        font-size: 22px;
        
        &:hover {
            color: var(--secondary-color);
        }
    }
    
    h3.date {
        font-size: 14px;
        font-weight: 500;
        
        &:hover {
            color: var(--secondary-color);
        }
        
        &:before {
            border-top: 1px solid var(--primary-color);
            content: '';
            width: 100px;
            height: 7px;
            display: block;
            margin: 0 auto;
        }
        
        &:after {
            border-bottom: 1px solid var(--primary-color);
            content: '';
            width: 100px;
            height: 10px;
            display: block;
            margin: 0 auto;
        }
    }
}

.button a {
    display: inline-block;
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 16px;
    padding: 10px 15px;

    &:hover,
    &:focus,
    &:active {
        background: var(--secondary-color);
        border: 1px solid var(--secondary-color);
        color: var(--white);
    }
}





/**************************************
    Images
**************************************/
figure {
    cursor: pointer;
    margin: 0 0 20px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: var(--transition);

    img {
        max-width: 100%;
        height: auto;
    }

    figcaption {
        font-style: italic;
        font-size: 12px;
        text-align: left;
        transition: var(--transition);

        &:hover {
            padding-left: 10px;
        }
    }
    
    &:hover {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
}
