// TODO: Make this responsive + Add backgrond blur
.menu-trigger {
    position: absolute;
    top: 100px;
    font-size: 40px;
    cursor: pointer;
}

// TODO: Sort night mode
.nav-menu {
    background-color: var(--primary-color);
    // background-color: var(--black);
    height: 100%;
    width: 0;
    padding-top: 60px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: var(--transition);
    z-index: 1;


    .profile {

        // Social Networks
        span {
            display: inline-flex;
            padding: 10px 10px 0 5%;
            
            // a {
            //     .icon-linkedin:before,
            //     .icon-mail:before,
            //     .icon-github:before,
            //     .icon-twitter:before,
            //     .icon-facebook:before,
            //     .icon-instagram:before { 
            //         color: var(--white);

            //         &:hover {
            //             color: var(--secondary-color);
            //         }

            //     }
            // }                
        }

        // Profile Image
        img {
            width: 50%;
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    

    // Links
    a {
        color: var(--white);
        display: block;
        padding: 10px 5%;
        text-decoration: none;
        // text-align: center;
        font-size: 18px;
        
        transition: var(--transition);
    
        &:hover {
            color: var(--secondary-color);
        }
    }

    // Close btn
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

@media screen and (max-height: 450px) {
    .nav-menu {
        padding-top: 15px;
    }

    .nav-menu a {
        font-size: 18px;
    }
}